<h2>User Login </h2>
<div clas="login">  
<form action="/action_page.html">
  <label for="fname">User Name :</label><br>
  <input type="text" id="fname" name="fname" value="" placeholder="Enter user name or email"><br><br>
  <label for="lname">Password :</label><br>
  <input type="password" id="lname" name="lname" value="" placeholder="Enter Password"><br><br>
  <input type="submit" value="Login"> <input type="submit" value="Reset">
</form> 

<p> Click of Reset if you forgot the Password.  </p>
</div>