<p>Salary details for {{employeeName}}</p>
<table class="table table-bordered w-50 mx-auto">
    <caption>Employee Salary Details</caption>
    <tbody>
        <tr><th>Id:</th><td>{{empFound.empId}}</td></tr>
        <tr><th>Name:</th><td>{{employeeName}}</td></tr>
        <tr><th>HRA:</th><td>{{empFound.HRA}}</td></tr>
        <tr><th>PF:</th><td>{{empFound.PF}}</td></tr>
        <tr><th>Gross Salary:</th><td>{{empFound.grossSalary}}</td></tr>
        <tr><th>Net Salary:</th><td>{{empFound.netSalary}}</td></tr>
    </tbody>
</table>