<div>
<h3>Example of String interploation</h3>
 <b>{{india}}</b> <br>
 <i>{{companyName}}</i>
<h3>Example of ngModel directive</h3>
<label>Enter company name:</label>
<input type="text" [(ngModel)]="companyName" (input)="updateModel($event)"><br> <!-- try with blur-->
<i>{{companyName}}</i>
<select [(ngModel)]="companyName" (change)="updateModel($event)"> <!-- change : when we change option-->
  <option value="Squad Infotech">Squad Infotech</option>
  <option value="Coder Technologies">Coder Technologies</option>
  <option value="Seed Infotech">Seed Infotech</option>
  <option value="infosys">Infosys</option>
  <option value="Neosoft Technologies">Neosoft Tech</option>
</select> 
<i>{{companyName}}</i>
</div>
<hr>
<section>
  <app-maths></app-maths> <!-- component directive (template-development)-->
</section>
<hr>
<section>
  <app-attribute></app-attribute>
</section>
<!--
  {{}} : string interpolation
  [()] : ngModel
  () : event bindinf
  [] : attribute binding
-->