<section>
  <h1>Structural Directives</h1>
  <div>
    <h2>*ngIf</h2>
    <label>Enter Age:</label><input type="number" [(ngModel)]="age"> 
    <div *ngIf="age<0">
       <b>Invalid age</b>
    </div>
    <div *ngIf="age>=0">
      <p *ngIf="age>=18">
        <b>Your are allowed for voting</b>
      </p>
      <p *ngIf="age<18">
        <b>Your are  Not allowed for voting</b>
      </p>
    </div>
  </div>
  <div>
    <h2>*ngIf with else</h2>
    <label>Enter Age:</label><input type="number" [(ngModel)]="age"> 
    <div *ngIf="age<0; else elsepart1">
       <b>Invalid age</b>
    </div>
    <ng-template #elsepart1>
      <p *ngIf="age>=18; else elsepart2">
        <b>Your are allowed for voting</b>
      </p>
      <ng-template #elsepart2>
        <p >
          <b>Your are  Not allowed for voting</b>
        </p>
      </ng-template>
    </ng-template>
  </div>
  <div>
    <h2>*ngIf then else</h2>
    <label>Enter Age:</label><input type="number" [(ngModel)]="age"> 
  <ng-container *ngIf="age<0; then thenblock1; else elseblock1"></ng-container>
  <ng-template #thenblock1>
    <p>
      <b>Invalid age</b>
    </p>   
  </ng-template>
  <ng-template #elseblock1>
    <b>Valid age</b>
      <ng-container *ngIf="age>=18; then thenblock2; else elseblock2 ">
      </ng-container> <!-- u can use any html element to check condition-->
      <ng-template #thenblock2>   <!-- then and else should refer ng-template-->
        <p >
          <b>Your are allowed for voting</b>
        </p>
      </ng-template>
      <ng-template #elseblock2>
        <p >
          <b>Your are  Not allowed for voting</b>
        </p>
      </ng-template>
  </ng-template>
  </div>
  <div>
    <h2>*ngFor</h2>
    <ol>
      <li *ngFor="let ele of array">{{ele}}</li>
     </ol>
     <h2>*ngFor with nested loop</h2>
     <ol>
      <li *ngFor="let ele of techArr">{{ele}}
          <ul>
            <li *ngFor="let ele1 of subArr">{{ele1}}</li>
          </ul>
      </li>
     </ol>
  </div>
  <div>
    <h2>ngSwitch</h2>
    <ol>
      <li *ngFor="let ele of array">{{ele}}</li>
     </ol>
     <h3>operations on array</h3>
     <ol>
      <li>Push</li>
      <li>Pop</li>
      <li>Display</li>
     </ol>
     <label>Enter your choice</label>
     <input type="number" [(ngModel)]="choice">
     <section [ngSwitch]="choice">
          <p *ngSwitchCase="1">
            <label>Enter element to push inot array</label>
            <input type="text" [(ngModel)]="hotD">
            <button (click)="array.push(hotD)">PUSH ELEMENT</button>
          </p>
          <p *ngSwitchCase="2">
            <button (click)="array.pop()">POP ELEMENT</button>
          </p>
          <div *ngSwitchCase="3">
            <ol>
              <li *ngFor="let ele of array">{{ele}}</li>
             </ol>
          </div>
          <p *ngSwitchDefault>
              <b>WRONG CHOICE !!!!</b>
          </p>
     </section>
  </div>

</section>

